
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- SweetAlert2 CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<style>
    .file-upload {
        display: none; /* Hide the original input */
    }

    .custom-file-label {
        display: inline-block;
        padding: 10px;
        cursor: pointer;
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 5px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    /* Custom CSS */
    .services-section {
        padding: 60px 0;
        background-color: #ffffff;
    }

        .services-section h2 {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 40px;
            text-align: center;
            color: #003049;
        }

    .service-card {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: transform 0.3s ease;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
    }

        .service-card img {
            width: 100%;
            height: auto;
            display: block;
        }

        .service-card:hover {
            transform: scale(1.05);
        }

    .service-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .service-icon {
        background-color: #d9534f;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 15px;
    }

        .service-icon img {
            width: 30px;
            height: 30px;
        }

    .service-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: #ffffff;
    }

    .service-text {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .service-arrow {
        font-size: 20px;
        align-self: flex-end;
    }

    /* Specific adjustments */
    .service-card:nth-child(2) .service-overlay,
    .service-card:nth-child(3) .service-overlay,
    .service-card:nth-child(4) .service-overlay,
    .service-card:nth-child(5) .service-overlay,
    .service-card:nth-child(6) .service-overlay {
        background: none;
        color: #ffffff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .service-card:nth-child(2) .service-title,
    .service-card:nth-child(3) .service-title,
    .service-card:nth-child(4) .service-title,
    .service-card:nth-child(5) .service-title,
    .service-card:nth-child(6) .service-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    /* Custom CSS */
    .facts-section {
        display: flex;
        flex-wrap: wrap;
        padding: 60px 0;
        background-color: #003049;
        color: white;
    }

    .facts-text {
        flex: 1;
        padding: 40px;
        background-color: #00223d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

        .facts-text h2 {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 20px;
            color: #d9534f;
        }

        .facts-text h3 {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .facts-text ul {
            list-style: none;
            padding: 0;
            font-size: 16px;
            line-height: 1.8;
        }

            .facts-text ul li {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
            }

                .facts-text ul li i {
                    margin-right: 10px;
                    color: #d9534f;
                }

    .facts-info-box {
        background-color: #d9534f;
        padding: 20px;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: white;
        position: relative;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .fact-item {
        flex: 0 0 45%;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }

        .fact-item i {
            font-size: 30px;
            margin-right: 10px;
        }

    .fact-value {
        font-size: 22px;
        font-weight: bold;
    }

    .fact-description {
        font-size: 14px;
        margin-top: 5px;
    }

    .contact-info {
        flex: 0 0 100%;
        text-align: center;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #ffffff;
    }

        .contact-info i {
            margin-right: 10px;
            font-size: 18px;
        }

        .contact-info a {
            color: white;
            font-weight: bold;
            font-size: 18px;
            text-decoration: none;
        }

    .facts-image {
        flex: 1;
        background-image: url('/themeimages/trucks.webp'); /* Ensure this path is correct */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .trusted-section {
        background-color: #003049;
        padding: 60px 0;
        color: white;
        text-align: center;
    }

        .trusted-section h2 {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 40px;
        }

        .trusted-section .trusted-stats {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }

    .trusted-item {
        flex: 1 1 200px;
        text-align: center;
    }

        .trusted-item i {
            font-size: 40px;
            color: white;
            margin-bottom: 20px;
        }

        .trusted-item h3 {
            font-size: 24px;
            margin-bottom: 10px;
            font-weight: bold;
            color: white;
        }

        .trusted-item p {
            font-size: 16px;
        }

    .trusted-image {
        max-width: 100%;
        margin: 0 auto 40px;
    }

    @@media (max-width: 768px) {
        .facts-section {
            flex-direction: column;
        }

        .facts-text, .facts-image {
            flex: 1 1 100%;
            width: 100%;
        }

        .facts-text {
            padding: 20px;
        }

        .facts-info-box {
            width: 100%;
            position: static;
            margin-top: 20px;
            transform: none;
        }

        .fact-item {
            flex: 0 0 100%;
        }

        .trusted-section .trusted-stats {
            flex-direction: column;
        }

        .trusted-item {
            margin-bottom: 30px;
        }
    }

    /* Custom CSS */

    .priorities-section {
        padding: 60px 0;
        background-color: #ffffff;
        color: #003049;
        text-align: center;
    }

        .priorities-section h2 {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 40px;
        }

    .priority-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .priority-card {
        flex: 1 1 300px;
        background-color: #ffffff;
        border: 1px solid #d9534f;
        padding: 20px;
        border-radius: 10px;
        text-align: left;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

        .priority-card h3 {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 15px;
            color: #d9534f;
        }

        .priority-card p {
            font-size: 16px;
            line-height: 1.9;
            margin: 20px;
            color: #333;
        }

    .contact-section {
        padding: 60px 0;
        background-color: #f9f9f9;
        color: #333;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .contact-text {
        flex: 1;
        max-width: 100%;
        color: black;
    }

        .contact-text h2 {
            color: black;
        }

        .contact-text h3 {
            font-weight: bold;
            margin-bottom: 20px;
        }

        .contact-text p {
            font-size: 16px;
            line-height: 1.6;
            color: #555;
            margin-bottom: 20px;
        }

    .contact-info {
        font-size: 18px;
        font-weight: bold;
        color: #d9534f;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }

        .contact-info i {
            margin-right: 10px;
        }

    .contact-form {
        flex: 1;
        max-width: 100%;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

        .contact-form input,
        .contact-form select,
        .contact-form textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .contact-form button {
            width: 100%;
            padding: 10px;
            background-color: #FF3E41;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

            .contact-form button:hover {
                background-color: #FF3E41;
            }

    @@media (max-width: 768px) {
        .priority-cards {
            flex-direction: column;
        }

        .contact-section {
            flex-direction: column;
        }
    }

    .more-services {
        padding: 10px 20px;
        text-align: center;
    }

        .more-services h2 {
            font-size: 32px;
            margin-bottom: 40px;
            color: #003366;
        }

    .service-cards {
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
    }

    .service-card {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        max-width: 300px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

        .service-card:hover {
            transform: translateY(-5px);
            background-color: #FF3E41;
            color: white;
            h3

    {
        color: white;
    }

    }

    .service-card .icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 20px;
    }

        .service-card .icon i {
            color: #fff;
            font-size: 28px;
        }

    .service-card h3 {
        font-size: 20px;
        margin-bottom: 20px;
        color: #003366;
    }

    .service-card p {
        font-size: 14px;
        line-height: 1.6;
    }

    .contact-section {
        padding: 60px 80px;
        background-color: #f8f9fa;
        color: #333;
    }

    .contact-text {
        flex: 1;
    }

        .contact-text h3 {
            font-size: 28px;
            font-weight: bold;
            color: #d9534f;
            margin-bottom: 20px;
            position: relative;
        }

            .contact-text h3::before {
                content: '';
                width: 50px;
                height: 2px;
                background-color: #d9534f;
                position: absolute;
                top: 0;
                left: 0;
            }

        .contact-text p {
            font-size: 16px;
            line-height: 1.6;
            color: #555;
            margin-bottom: 20px;
        }

    .contact-info {
        font-size: 18px;
        font-weight: bold;
        color: #d9534f;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }

        .contact-info i {
            margin-right: 10px;
            font-size: 24px;
        }

    .contact-form {
        flex: 1;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

        .contact-form input,
        .contact-form select,
        .contact-form textarea {
            width: 100%;
            padding: 12px;
            margin-bottom: 15px;
            border: 1px solid #ced4da;
            border-radius: 5px;
        }

        .contact-form button {
            width: 100%;
            padding: 12px;
            background-color: #d9534f;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

            .contact-form button:hover {
                background-color: #c9302c;
            }

    @@media (max-width: 768px) {
        .contact-section {
            flex-direction: column;
            padding: 30px 20px;
        }

        .contact-text {
            margin-right: 0;
            margin-bottom: 30px;
        }

        .contact-form {
            width: 100%;
        }
    }

    .swal2-confirm.custom-button {
        background-color: #c9302c;
        color: #ffffff; /* Text color */
    }

    .form-control-file {
        display: none; /* Hide the default file input */
    }

    .custom-file-upload {
        display: inline-block;
        padding: 12px 15px;
        cursor: pointer;
        border: 0px solid#c9302c;
        border-radius: 5px;
        background-color: #e2e6ea ;
        color: black;
        font-weight: bold;
        transition: background-color 0.3s;
    }

        .custom-file-upload:hover {
            background-color: #f8f9fa;
        }

        .custom-file-upload i {
            margin-right: 8px; /* Space between icon and text */
        }

    .small {
        margin-top: 5px;
    }

</style>




<!-- Contact Us Section -->
<!-- Contact Us Section -->
<!-- Contact Us Section -->
<!-- Contact Us Section -->
<!-- Contact Us Section -->
<section class="contact-section">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6 mt-2 m-1">
            <div class="contact-text  wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="text-secondary text-uppercase mb-3" style="font-size: 30px;"> <i class="fa fa-minus fa-1x text-primary"></i> Career</h6>
                <p>A career at AICT means direct access to the experience of working with Pakistan’s largest off-deck terminal, while enjoying a strong community connection and on-the-job training opportunities.</p>
                <p>We firmly believe that a workplace rich in diversity and inclusivity leads to innovation, creativity, and ultimately, success.</p>
                <p>We are a community of diverse minds and talents coming together to create exceptional customer-specific solutions.</p>
                <h2 class="text-primary">
                    <i class="fas fa-headset fa-3x text-primary"></i>
                    How To Join Us
                </h2>
                <p>Ready to embark on a journey of growth, learning, and meaningful impact?</p>
                <p>Explore our current career opportunities and find a role that aligns with your aspirations.</p>
                <p>To ensure fairness, only short-listed candidates will be contacted. However, every application we receive is valued and considered.</p>
                
                <p>Please send your updated CV along with desired functional domain at <a href="mailto:jobs@aictpk.com" style="color: #027EB5;">jobs@aictpk.com</a></p>

                @* <h6 class="text-secondary text-uppercase mb-3" style="font-size: 20px;">Speak up</h6>
                <p>We encourage you to come forward and share / identify any wrongdoing/illegal activity at AICT.</p>
                <p>We will ensure that the confidentiality of the complainant is maintained and unbiased investigations are carried out.</p>
                <p>Email us at <a href="mailto:jobs@aictpk.com" style="color: #027EB5;">speakout@aictpk.com</a></p> *@

            </div>
        </div>

        <div class="col-md-4 align-content-center">
            <div class="contact-form wow fadeInRight" data-wow-delay="0.1s">
                <h3 class="text-center">Apply For</h3>
                <hr />
                <form asp-action="SendCV" asp-controller="Home" method="post" enctype="multipart/form-data">
                    <select name="topic">
                        <option value="" disabled selected>Select Department</option>
                        <option value="Administration">Administration</option>
                        <option value="CCTV">CCTV</option>
                        <option value="CSD">Customer Services</option>
                        <option value="Finance">Finance</option>
                        <option value="HR">Human Resources</option>
                        <option value="IT">IT</option>
                        <option value="Logistics">Logistics</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Operations">Operations</option>
                        <option value="Security">Security</option>
                        <option value="Technical">Technical</option>
                        <option value="Vigilance">Vigilance</option>
                    </select>
                    <input type="text" name="first_name" placeholder="First Name" required>
                    <input type="text" name="last_name" placeholder="Last Name" required>
                    <input type="email" name="Email_Address" placeholder="Email Address" required>
                    <input type="tel" name="Phone_Number" placeholder="Phone Number" required>
                    <textarea name="message" placeholder="Enter Your Message Here" rows="5" required></textarea>
                    <div class="col-md-9 pe-5">
                        <input class="form-control-file" name="Cv" id="formFileLg" type="file" accept=".pdf,.doc,.docx,.rtf" onchange="updateFileName()" />

                        <label for="formFileLg" class="custom-file-upload">
                            <i class="fas fa-upload"></i> Upload CV
                        </label>

                        <span id="fileName" class="small text-muted mt-2 d-block"></span>

                    </div>
                    <input type="submit" class="btn btn-primary" style="background-color:#c9302c" value="Submit">
                </form>
            </div>
        </div>
    </div>
</section>

@if (ViewBag.Message != null)
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            icon: '@ViewBag.Icon',
            title: '@ViewBag.Title',
            text: '@ViewBag.Message',
            confirmButtonText: 'OK',
            customClass: {
                confirmButton: 'custom-button'
            }

        });


    </script>
}

<script>
    function updateFileName() {
        var input = document.getElementById('formFileLg');
        var fileName = input.files[0] ? input.files[0].name : 'No file chosen';
        document.getElementById('fileName').textContent = fileName;
    }
</script>
@* @if (ViewBag.Message != null)
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            icon: '@ViewBag.Icon',
            title: '@ViewBag.Title',
            text: '@ViewBag.Message',
            confirmButtonText: 'OK',
            customClass: {
                confirmButton: 'custom-button'
            }
        });
    </script>
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        form.addEventListener('submit', function (event) {
            // Prevent the default form submission
            event.preventDefault();

            // Get form values
            const firstName = form.first_name.value.trim();
            const lastName = form.last_name.value.trim();
            const email = form.Email_Address.value.trim();
            const phone = form.Phone_Number.value.trim();
            const message = form.message.value.trim();
            const CV = form.cv.files.length > 0;

            // Validation check
            if (!firstName || !lastName || !email || !phone || !message || !CV) {
                Swal.fire({
                    icon: 'error',
                    title: 'Required Fields Error!',
                    text: 'Please fill all fields.',
                    confirmButtonText: 'OK',
                    customClass: {
                        confirmButton: 'custom-button'
                    }
                });
                return;
            }

            // Log the data for debugging
            console.log('First Name:', firstName);
            console.log('Last Name:', lastName);
            console.log('Email:', email);
            console.log('Phone:', phone);
            console.log('Message:', message);
            console.log('CV File:', form.cv.files[0]);

            // Submit the form if all validations pass
            form.submit();
        });
    });
</script>
 *@
